:root {
  --font: 'Raleway', sans-serif;
  --blue: #00b9ff;
  --pink: #DDA0DD;
  --gold: #DAA520;
  --orange: #FF7C44;
  --red: red;
  --white: white;
  --black: black;
  --green: #4ca952;
  --yellow: yellow;
  --transparentRed: #ff00008f;
  --fontColor: DarkSlateGray;
  --lightGrey: #e1e5ea;
  --grey: #dddddd;
  --darkBlue: #000087;

  --dangerBackgroundColor: #f8d7da;
  --dangerForegroundColor: #711c24;
}
